@charset "UTF-8";
body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-card__img, .card-team__img, .card-what__img {
  display: block;
  max-width: 100%;
}

.portfolio-card__list, .filter_list, .address__list, .card-client__list, .card-team__list, .card-what__list, .card-benefit__list, .header-page__list, .socials__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-card__link, .addres__link, .card-client__link, .logo, .header-page__link, .socials__link {
  text-decoration: none;
}

.section-portfolio__title, .license__input, .form-footer__label, .section-benefits__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-portfolio, .section-clients, .section-team, .section-what, .section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.form-footer__title, .socials-footer__title, .section-clients__title, .section-team__title, .section-what__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button, .filter_btn, .button--primary, .modal-window__button-send, .form-footer__button, .hero__button {
  min-width: 73px;
  padding: 6px 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  letter-spacing: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button--primary, .modal-window__button-send, .form-footer__button, .hero__button {
  color: #ffffff;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary:hover, .modal-window__button-send:hover, .form-footer__button:hover, .hero__button:hover,
.button--primary:focus,
.modal-window__button-send:focus,
.form-footer__button:focus,
.hero__button:focus {
  background-color: #188ce8;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.socials__list {
  display: inline-flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.header-page {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-page__container {
  display: flex;
  align-items: center;
}

.header-page__logo {
  margin-right: 93px;
}

.header-page__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-page__item:not(:last-child) {
  margin-right: 50px;
}

.header-page__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-page__link:hover, .header-page__link:focus {
  color: #2196f3;
}

.header-page__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-page__link--current {
  position: relative;
  color: #2196f3;
}
.header-page__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.header-page__list--second {
  margin-left: auto;
}

.header-page__item--second:not(:last-child) {
  margin-right: 30px;
}

.header-page__link--second {
  color: #757575;
  display: flex;
  align-items: center;
}

.logo {
  color: #000000;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: #2196f3;
}

.hero {
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
}

.hero__container {
  display: inline-block;
  padding: 200px 252px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-benefits {
  padding-bottom: 0;
}

.card-benefit__list {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
}

.card-benefit__item:not(:last-child) {
  margin-right: 30px;
}

.card-benefit__icon {
  width: 70px;
  height: 70px;
}

.card-benefit__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.card-benefit__figure {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.card-what__list {
  display: flex;
  justify-content: space-between;
}

.card-what__item {
  position: relative;
}

.card-what__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  font-size: 16px;
  line-height: 1.19;
  background-color: #f5f4fa;
}

.card-team__list {
  display: flex;
  justify-content: space-between;
}

.card-team__caption {
  padding: 30px 10px;
  text-align: center;
}

.card-team__title {
  margin-bottom: 10px;
  color: #212121;
  /* font-size - не наслідує з попереднього. Чомусь перекриває h3 таблиці стлів користувача */
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.card-team__item {
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-team__content {
  margin-bottom: 16px;
}

.card-team__link-socials {
  color: #afb1b8;
}
.card-team__link-socials:hover, .card-team__link-socials:focus {
  color: #ffffff;
}

.card-client__list {
  display: flex;
}

.card-client__item:not(:last-child) {
  margin-right: 30px;
}

.card-client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.card-client__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-client__link:hover, .card-client__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  margin: 0 auto;
}

.footer-page__container {
  display: flex;
}

.footer-page__logo {
  margin-bottom: 20px;
  display: inline-block;
  color: #ffffff;
}

.address__wrap {
  width: 231px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.addres__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres__link:hover, .addres__link:focus {
  color: #2196f3;
}

.addres__link--map {
  color: #ffffff;
}

.socials-footer__wrap {
  width: 206px;
  padding-top: 15px;
  margin-left: 70px;
}

.socials-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.form-footer__wrap {
  padding-top: 12px;
  margin-left: auto;
}

.form-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}

.form-footer__input {
  padding: 14px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer__input:hover, .form-footer__input:focus {
  border-color: #2196f3;
}

.form-footer__button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__icon-button {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: collapse;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__btn-close {
  position: absolute;
  right: 17px;
  top: 17px;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn-close:hover, .modal-window__btn-close:focus {
  color: #2196f3;
  cursor: pointer;
}

.modal-window__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal-window__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-window__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal-window__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-window__wrap-input {
  position: relative;
  margin-bottom: 10px;
}

.modal-window__input {
  padding: 12px 9px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-window__input:hover, .modal-window__input:focus {
  border-color: #2196f3;
}

.modal-window__icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__input:hover + .modal-window__icon-input, .modal-window__input:focus + .modal-window__icon-input {
  fill: #2196f3;
}

.modal-window__input-comment {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}
.modal-window__input-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-window__input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Button SEND */
.modal-window__button-send {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.license__wrap {
  display: flex;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.license__link {
  color: #2196f3;
}

.license__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.license__label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.license__icon-checkbox {
  margin-right: 7px;
}
.license__input:checked + .license__label .license__icon-checkbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.license__icon-checkbox--checken {
  opacity: 0;
}
.license__input:checked + .license__label .license__icon-checkbox--checken {
  opacity: 1;
}

.license__icon-checkbox--nochecken {
  opacity: 1;
}
.license__input:checked + .license__label .license__icon-checkbox--nochecken {
  opacity: 0;
}

.filter_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter_item:not(:last-child) {
  margin-right: 8px;
}

.filter_btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_btn:hover, .filter_btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-card__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:visited {
  color: inherit;
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__body {
  padding: 20px 24px;
  margin: 0;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card__figure {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  transform: translateY(0);
}

.portfolio-card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}/*# sourceMappingURL=main.css.map */