.container {
  padding-left: $padding-container;
  padding-right: $padding-container;

  margin-left: auto;
  margin-right: auto;

  width: 100%;

  @include mq(mob) {
    max-width: $mobile;
  }

  @include mq(tab) {
    max-width: $tablet;
  }

  @include mq(desk) {
    max-width: $desktop;
  }
}