.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('background-dark');
  margin: 0 auto;

}

.footer-page__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: $indent-primary;

  @include mq(tab) {
    padding-left: 60px;
    padding-right: 75px;
  }

  @include mq(desk) {
    flex-direction: row;

    padding-left: 0;
    padding-right: 0;
  }
}

.footer-page__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 60px;

  @include mq(tab) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    // outline: 1px solit red;

  }

  @include mq(desk) {
    width: 507px;

    margin-bottom: 0;

    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-page__address {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;

  @include mq(tab) {
    width: 232px;
    margin-bottom: 0;
  }

  @include mq(desk) {
    width: 232px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-page__logo {
  margin-bottom: 20px;
  display: inline-block;

  color: getColor('white-primary');
}

.footer-page__socials {
  width: 100%;
  text-align: center;

  padding-top: 0;

  @include mq(tab) {
    width: 206px;
    // padding-top: 5px;
  }

  @include mq(desk) {
    text-align: left;
    padding-top: 15px;
  }
}

@import './footer-page_address';
@import './footer-page_socials';
@import './footer-page_form';