.hero {
  text-align: center;
  letter-spacing: 0.06em;

  background-color: getColor('background-dark');

  // background-image: $background-gradient-hero, $background-image-hero;
  @include background-hero();

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  max-width: $mobile;

  @include mq(mob) {
    max-width: $tablet;
  }

  @include mq(tab) {
    max-width: $desktop;
  }

  @include mq(desk) {
    max-width: 1600px;
  }

}

.hero__container {
  display: inline-block;

  padding: 60px 60px;

  @include mq(mob) {
    padding: 118px 60px;
  }

  @include mq(tab) {
    padding: 118px 204px;
  }

  @include mq(desk) {
    padding: 200px 252px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: $indent-primary;

  color: getColor('white-primary');
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;

  @include mq(desk) {
    font-size: 44px;
    line-height: 1.36;
  }

}

.hero__button {
  @extend .button--primary;

  padding: 10px 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: #{getShadow('shadow-btn-hero')};

  @include mq(desk) {
    padding: 10px 32px;
  }
}