.socials__list {
  @extend %list;

  display: inline-flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  @extend %link;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: getColor('white-primary');
  background-color: rgba(255, 255, 255, 0.1);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color $duration-primary $timing-function-primary,
    background-color $duration-primary $timing-function-primary;

  &:hover,
  &:focus {
    background-color: getColor('accent');
  }
}

.socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}