@mixin card-max-width($count-mobile, $count-table, $count-desktop) {

  max-width: getWidth($count-mobile, $indent-primary);

  @media screen and (min-width: $tablet) {
    max-width: getWidth($count-table, $indent-primary);
  }

  @media screen and (min-width: $desktop) {
    max-width: getWidth($count-desktop, $indent-primary);
  }
}

@function getWidth($count, $indent) {
  @return calc((100% - ($count - 1) * $indent) / $count);
}